/*@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");*/
*,
body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 800px;
}
header {
    background: url(../Images/Nikola-Tesla.webp);
    background-repeat: no-repeat;
    background-color:black;
    color: #fff;
    height: 350px;
    background-size: 50% auto;
    background-position: right;
    text-align: center;
    padding: 10% 30%;
}
header h2,
header h3 {
    padding: 10px 20px;
    background-color: rgba(233, 233, 233, 0.3);
}

.phrase {
    background: #ccc;
    margin: 20px 0;
    padding: 10px;
    font-size: 24px;
}
.phrase span {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}
div.clear {
    clear: both;
}
.col{
    float: left;
    padding: 10px 10px 10px 5px;
}
.col-1
{
    width: 485px;
}
.col-1 ul{
    list-style: none;
}
.col-1.item{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.col-1 .item:hover{
    background: #333;
    color: #fff;
}
.col-1.item .date, .col .Item .desc{
    float: left;
}
.col-1 .item .date{
    width: 30%;
    /*font-weight: bold;*/
    padding-left: 5px;
}
.col-1 .item .desc{
    width: 65%;
}
.col-2
{
    text-align:center;
    width: 285px;
}
.col-2 img{
    width: 90%;
    border-radius: 300px;
    margin: 10px 2px;
    box-shadow: 2px 5px #e6d4c8a6,5px -5px #000;
}
.col-2 table tr:hover{
    background: #966;
}
.col-2 table td:first-child{
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 5px;
    font-size: 12px;
}
.col-2 table td:last-child{
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}